<table class="table">
  <thead>
    <tr>
      <th>User info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag user, :image, :fill, 100, 100, format: 'jpeg',fallback: "no_image.jpg", :size =>"100x100", class: "user_image" %></td>
    </tr>
    <tr class= "field">
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr class= "field">
      <td>introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>

  <%= link_to edit_user_path(current_user), class: "edit_user_#{current_user.id} col-xs-12 btn btn-default glyphicon glyphicon-wrench" do %>
  <% end %>

    <h2>New book</h2>
    <%= form_for(book_create) do |f| %>
        <label for="book_title">Title</label><br>
        <%= f.text_field :book_title %>

        <label for="book_opinion">Opinion</label><br>
        <%= f.text_area :opinion, class: "book_body" %>
        <%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %>
    <% end %>

